{% extends "Blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <form action="" method="post">
    <div class="jumbotron">
      <h2>Registration Form</h2>
       {% csrf_token %}
        <div class="form">
         {{form | crispy}}
         <button class="btn btn-primary" type="submit" value="Submit">Submit</button><br><br>
        </div>
      <div class="border-top pt-3">
          <small class="text-info">
              Already Have An Account? <a class="ml-2" href="{% url 'login'%}">Sign In</a>
          </small>
      </div>
    </div>
  </form>
{% endblock content %}
